#map{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Jost';
}

#sidebar li {
    list-style-type: none;
}

nav{
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    text-align: right;
    background-color: rgb(73,166,228);
  }
nav a{
    background:rgb(73,166,228);
    border: 1px solid rgb(73,166,228);
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }

nav a:hover{
    background: white;
    border: 1px solid rgb(37,95,169);
    color: rgb(37,95,169);
  }

.welcome {
    text-align: center;
    font-size: x-large;
}

#home {
    background-image: url("https://i.imgur.com/qVuznO2.jpg") ;
    background-size: cover;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.left a.covhack {
    background:rgb(73,166,228);
    border: 1px solid rgb(73,166,228);
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}
